force-app/main/default/flows/Campaign_Survey_Analysis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <actionCalls>
        <name>Run_Analysis</name>
        <label>アンケート分析実行</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>CampaignSurveyAnalysisAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>Confirm_Decision</name>
        <label>実行確認</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>キャンセル</defaultConnectorLabel>
        <rules>
            <name>User_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmExecution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Analysis</targetReference>
            </connector>
            <label>実行する</label>
        </rules>
    </decisions>
    <interviewLabel>キャンペーンアンケート分析 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>キャンペーンアンケート分析</label>
    <processType>Flow</processType>
    <screens>
        <name>Confirm_Screen</name>
        <label>分析確認</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Decision</targetReference>
        </connector>
        <fields>
            <name>ConfirmMessage</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b&gt;イベントアンケート分析&lt;/b&gt;&lt;/p&gt;&lt;p&gt;このキャンペーンに紐づくイベントアンケートをAIで分析します。&lt;/p&gt;&lt;p&gt;• イベントの反響評価（ポジティブ/ネガティブ）&lt;/p&gt;&lt;p&gt;• 主要な発見事項&lt;/p&gt;&lt;p&gt;• 次回改善点の提案&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;※ 処理に30秒〜1分程度かかります。&lt;/p&gt;&lt;p&gt;※ ニーズカードの自動生成は別途スケジュールバッチで実行されます。&lt;/p&gt;</fieldText>
        </fields>
        <fields>
            <name>confirmExecution</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>分析を実行する</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>分析結果</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResultDisplay</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b&gt;✅ 分析完了&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Run_Analysis.resultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;反響:&lt;/b&gt; {!Run_Analysis.sentiment}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;主要発見事項:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Run_Analysis.keyFindings}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;次回改善点:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Run_Analysis.improvements}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;キャンペーンレコードに結果が保存されました。ページを更新してご確認ください。&lt;/p&gt;</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>エラー</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b&gt;❌ エラーが発生しました&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;管理者に連絡してください。&lt;/p&gt;</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
